* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}

body * {
  font-family: 'Roboto';
}

body {
  min-height: 100vh;
  background: linear-gradient(150deg, #0F2B05, #000000);
}

header {
  text-align: center;
  padding: 7.5rem 0;
}

.card {
  width: 35.4rem;
  height: 50.8rem;

  background-image: url(assets/bg-explorer.svg);
  
  text-align: center;
  cursor: pointer;
}

.card > img {
  width: 15rem;
  height: 15rem;

  object-fit: cover;

  border-radius: 50%;
  border: 4px solid #ffd700;

  margin-top: 12rem;

  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
}

.info {
  text-align: left;

  margin-top: 9.8rem;
  margin-left: 7rem;

  color: #ffffff;
}

.info h1 {
  font-size: 1.8rem;

  line-height: 140%;
}

.info p {
  font-size: 1.4rem;

  line-height: 160%;
}

.cards {
  display: flex;
  justify-content: center;
  position: relative;
}

.card:nth-child(1) {
  transform: rotate(-15deg);

}

.card:nth-child(2) {
  position:absolute;
  bottom: 35px;
  background-image: url(assets/bg-ignite.svg);
}

.card:nth-child(3) {
  transform: rotate(15deg);

}



